/ChordandMidiBuddyExtension.class
/ChordandMidiBuddyExtensionDefinition.class
/ChordandMelodyBuddyExtension.class
/ChordandMelodyBuddyExtensionDefinition.class
/ChordAndMelodyBuddyExtension.class
/ChordAndMelodyBuddyExtensionDefinition.class
/ChordBuddyExtension.class
/ChordBuddyExtensionDefinition.class
