#
#Tue May 16 20:14:35 CEST 2017
BITWIG_COMMAND=C\:\\Program Files\\Bitwig Studio\\Bitwig Studio.exe
MainMaximized=false
PORT=7000
TEXT_FONT=Dialog
PREVIEW=true
TEXT_COLOR=-855310
MainWindowH=640.0
RUN_AUTOMATICALLY=true
MainWindowY=205.0
BACKGROUND_COLOR=-11711155
MainWindowX=512.0
MainWindowW=996.0
